[submodule "repos/pangeo-gallery/example-gallery"]
	path = repos/pangeo-gallery/example-gallery
	url = https://github.com/pangeo-gallery/example-gallery.git
	branch = binderbot-built
[submodule "repos/pangeo-gallery/physical-oceanography"]
	path = repos/pangeo-gallery/physical-oceanography
	url = https://github.com/pangeo-gallery/physical-oceanography.git
	branch = binderbot-built
[submodule "repos/pangeo-gallery/esip-gallery"]
	path = repos/rsignell-usgs/esip-gallery
	url = https://github.com/rsignell-usgs/esip-gallery.git
	branch = binderbot-built

[submodule "repos/NCAR/cesm-lens-aws"]
	path = repos/NCAR/cesm-lens-aws
	url = https://github.com/NCAR/cesm-lens-aws.git
	branch = binderbot-built
[submodule "repos/TomAugspurger/pangeo-dask-gateway"]
	path = repos/TomAugspurger/pangeo-dask-gateway
	url = https://github.com/TomAugspurger/pangeo-dask-gateway.git
	branch = binderbot-built
[submodule "repos/pangeo-gallery/cmip6"]
	path = repos/pangeo-gallery/cmip6
	url = https://github.com/pangeo-gallery/cmip6.git
	branch = binderbot-built
[submodule "repos/pangeo-data/pangeo-tutorial-gallery"]
	path = repos/pangeo-data/pangeo-tutorial-gallery
	url = https://github.com/pangeo-data/pangeo-tutorial-gallery.git
	branch = binderbot-built
[submodule "repos/earthcube2020/ec20_abernathey_etal"]
	path = repos/earthcube2020/ec20_abernathey_etal
	url = https://github.com/earthcube2020/ec20_abernathey_etal.git
	branch = binderbot-built
[submodule "repos/pangeo-data/landsat-8-tutorial-gallery"]
	path = repos/pangeo-data/landsat-8-tutorial-gallery
	url = https://github.com/pangeo-data/landsat-8-tutorial-gallery.git
	branch = binderbot-built
[submodule "repos/xgcm/xgcm-examples"]
	path = repos/xgcm/xgcm-examples
	url = https://github.com/xgcm/xgcm-examples.git
	branch = binderbot-built
[submodule "repos/pangeo-gallery/ncar-gallery"]
	path = repos/NCAR/notebook-gallery
	url = https://github.com/NCAR/notebook-gallery.git
	branch = binderbot-built
[submodule "repos/ldeo-glaciology/pangeo-glaciology-examples"]
	path = repos/ldeo-glaciology/pangeo-glaciology-examples
	url = https://github.com/ldeo-glaciology/pangeo-glaciology-examples.git
	branch = binderbot-built
[submodule "repos/cgentemann/pangeo_ccmp"]
	path = repos/cgentemann/pangeo_ccmp
	url = https://github.com/cgentemann/pangeo_ccmp.git
	branch = binderbot-built
[submodule "repos/test-pangeo"]
	path = repos/test-pangeo
	url = https://github.com/acocac/test_pangeo
	branch = binderbot-built
[submodule "repos/test-pangeo2"]
	path = repos/test-pangeo2
	url = https://github.com/acocac/test_pangeo
	branch = binderbot-built
