[submodule "repos/pangeo-gallery/example-gallery"]
	path = repos/pangeo-gallery/example-gallery
	url = https://github.com/pangeo-gallery/example-gallery.git
	branch = binderbot-built
[submodule "repos/pangeo-gallery/physical-oceanography"]
	path = repos/pangeo-gallery/physical-oceanography
	url = https://github.com/pangeo-gallery/physical-oceanography.git
	branch = binderbot-built
[submodule "repos/pangeo-gallery/esip-gallery"]
	path = repos/rsignell-usgs/esip-gallery
	url = https://github.com/rsignell-usgs/esip-gallery.git
	branch = binderbot-built

[submodule "repos/NCAR/cesm-lens-aws"]
	path = repos/NCAR/cesm-lens-aws
	url = https://github.com/NCAR/cesm-lens-aws.git
	branch = binderbot-built
[submodule "repos/TomAugspurger/pangeo-dask-gateway"]
	path = repos/TomAugspurger/pangeo-dask-gateway
	url = https://github.com/TomAugspurger/pangeo-dask-gateway.git
	branch = binderbot-built
[submodule "repos/pangeo-gallery/cmip6"]
	path = repos/pangeo-gallery/cmip6
	url = https://github.com/pangeo-gallery/cmip6.git
	branch = binderbot-built
[submodule "repos/pangeo-data/pangeo-tutorial-gallery"]
	path = repos/pangeo-data/pangeo-tutorial-gallery
	url = https://github.com/pangeo-data/pangeo-tutorial-gallery.git
	branch = binderbot-built
