sphinx
sphinx_bootstrap_theme
sphinx_pangeo_theme
jupyter
ipython
nbconvert
nbsphinx
doctr
sphinx-copybutton
sphinxcontrib-srclinks
sphinxcontrib-fulltoc
git+https://github.com/pangeo-gallery/binderbot
